* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#carouselContainer {
    margin: 20px auto;
    max-width: 800px;
    width: 100%;
    height: 500px;

    display: flex;
    flex-wrap: wrap;
    position:relative
}

#images-container {
    width: 100%;
    height: 100%;
}

#thumbnails {
    width: 100px;
}

#arrow-up, #arrow-down {
    position: absolute;
    left: 50%
}

#arrow-up {
    top: 10%;
}

#arrow-down {
    bottom: 10%;
}

#active-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#text-container {
    position: absolute;
    bottom: 0;
    padding: 15px;
    text-align: right;
    color: white;
}