* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#carousel-container {
    margin: 20px auto;
    max-width: 800px;
    width: 100%;
    height: 400px;

    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#images-container {
    width: 100%;
    height: 100%;
}

#thumbnails {
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
}

#arrow-up, #arrow-down {
    position: absolute;
    left: 50%;
    z-index: 3;
}

#arrow-up {
    top: 2%;
}

#arrow-down {
    bottom: 2%;
}

#active-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#text-container {
    position: absolute;
    bottom: 0;
    padding: 15px;
    text-align: right;
    color: white;
}

.thumbnail {
    width: 100%;
    height: 80px;
    opacity: .5;
    object-fit: cover;
}

.thumbnail.active {
    opacity: 1;
}

#btn-container {
    text-align: center;
}